#app {
  font-family: "Lucida Sans Unicode", helvetica, arial, sans-serif;
  font-size: 18px;
  padding: 1em;
}

.complete {
  opacity: 0.5;
}

.portal {
  font-family: "Lucida Sans Unicode", helvetica, arial, sans-serif;
  position: fixed;
  font-size: 20px;
  top: 130px;
  left: 30%;
  right: 30%;
  z-index: 2;
  text-align: center;
}

.createListButton {
  padding: 18px;
  border-radius: 10px;
  border: 3px solid #2e323c;
  background-color: white;
  display: inline-block;
}

.delTaskButton {
  background: url("../img/bins.gif") no-repeat;
  background-size: 200%;
  display: block;
  position: relative;
  bottom: 20px;
  float: right;
  width: 45px;
  height: 85px;
}

.delTaskButton:hover {
  background-position-x: -48px;
}

.smallButton {
  background-color: #f66;
  text-shadow: #2e323c 1px 1px 2px;
  color: white;
  padding: 5px 15px;
  margin-left: 15px;
  border-radius: 10px;
}

.cross {
  position: fixed;
  top: 153px;
  left: 66%;
  opacity: 80%;
}

.taskList {
  background-color: #2e323c;
  color: white;
  border: 3px double white;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
}

.task {
  background-color: white;
  color: #2e323c;
  padding: 10px;
  margin: 15px;
  border: 2px solid #2e323c;
  border-radius: 8px;
  border-left: 7px solid #f66;
  list-style-type: none;
}

.text {
  padding-left: 5px;
  border-left: 5px solid #2e323c;
}

h1 {
  color: #2e323c;
}

input[type="button"] {
  outline: none;
  border: 0;
  padding: 5px 15px;
}

